<div>
    <h1>Update Activity</h1>
    <form action="">
        <label for="date">Date:</label>
        <input type="date" name="date">
        <label for="activity">Activity:</label>
        <select name="activity">
            <option value="1">Read 1 Page </option>
            <option value="2">Exercise 2 Minutes</option>
            <option value="3">Career Work 2 Minutes</option>
            <option value="4">Reflect 5 Minutes</option>
            <option value="5">Connect 2 Minutes</option>
        </select>
        <fieldset id="group1">
            <input type="radio" value="true" id="completed" name = "copmletionStatus">
            <label for="completed">Completed</label>
            <input type="radio" value="false" id="uncompleted" name = "copmletionStatus">
            <label for="uncompleted">Uncompleted</label>
        </fieldset>
        <input type="submit">
    </form>
</div>