<form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
    <h1>Update Activity</h1>
    <div class = "form-item">
        <label for="date">Date:</label>
        <input type="date" id="date" formControlName="date">
    </div>


    <div class = "form-item">
        <label for="activity">Activity:</label>
        <select id="activity" formControlName="activity">
            <option value="1">Read 1 Page</option>
            <option value="2">Exercise 2 Minutes</option>
            <option value="3">Career Work 2 Minutes</option>
            <option value="4">Reflect 5 Minutes</option>
            <option value="5">Connect 2 Minutes</option>
        </select>
    </div>

    <div class = "form-item">
        <fieldset class = "radio-buttons">
            <legend>Completion Status</legend>
            <label>
                <input type="radio" value="true" formControlName="completionStatus">
                Completed
            </label>
            <label>
                <input type="radio" value="false" formControlName="completionStatus">
                Uncompleted
            </label>
        </fieldset>
    </div>



    <button type="submit" [disabled]="activityForm.invalid" class = "form-item">Submit</button>
</form>