.container {
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    border-radius: 1rem;
    width: 30vw;
    padding: 1rem;
    background-color: #f5f4f4;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

h2 {
    font-weight: normal;
}

.todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    accent-color: #A9CAB0;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #777;
}