<div class="container">
    <h1>Activity Completion Analytics</h1>
    <div class="level-container">
        <div class="level-item center-text">
            <h2>Completion By Day of Week</h2>
            <div class="row-continer">
                <div *ngFor="let day of averageCompletionDataByDay" class="row"
                    [style.background-color]="getBackgroundColor(day.percentage)">
                    <h3>{{day.dayOfWeek}}</h3>
                    <h1>{{day.percentage}}%</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="level-container">
        <div class="level-item ">
            <h2 class = "center-text">Ranked Completion Percentage</h2>
            <div>
                <div class="two-column-list">
                    <ol>
                        <li *ngFor="let item of totalCompletionsByActivity.slice(0, 3)">
                            <b>{{ item.activityTitle }}</b> - {{ item.completions }} <em>({{ item.percentage }}%)</em>
                        </li>
                    </ol>

                    <ol start="4">
                        <li *ngFor="let item of totalCompletionsByActivity.slice(3, 5)">
                            <b>{{ item.activityTitle }}</b> - {{ item.completions }} <em>({{ item.percentage }}%)</em>
                        </li>
                    </ol>
                </div>
            </div>
        </div>


    </div>
    <div class="level-container">
        <div class="level-item center-text">
            <h2>Top 3 Completed</h2>
            <div class="three-styling">
                <ol>
                    <li>{{top3Activities[0]}}</li>
                    <li>{{top3Activities[1]}}</li>
                    <li>{{top3Activities[2]}}</li>

                </ol>
            </div>
        </div>
        <div class="level-item center-text">
            <h2>Bottom 3 Completed</h2>
            <div class="three-styling">
                <ol>
                    <li>{{bottom3Activities[0]}}</li>
                    <li>{{bottom3Activities[1]}}</li>
                    <li>{{bottom3Activities[2]}}</li>

                </ol>
            </div>
        </div>
        <div class="level-item center-text">
            <h2>Longest Streak</h2>
            <div class="three-styling">
                <h1>{{longestStreak}}🔥</h1>
            </div>
        </div>

    </div>

</div>