.history-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 1rem;
    padding: 1rem;
}

.container {
    margin-top: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

th {
    padding: 1rem;
    border: solid;
    background-color: #e4e4e4;
}


table {
    border: solid;
    border-collapse: collapse;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.extended{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

input[type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    accent-color: #A9CAB0;
    cursor: pointer;
}

h3 {
    color: #777;
}