<div class="center">
    <h1>Last 7 Day Stats</h1>
    <div class="history-container">
        <app-day-status *ngFor="let day of rollingData" [data]="day">
        </app-day-status>
    </div>

    <div class="container">
        <table border="1">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Percentage</th>
                    <th *ngFor="let day of data.completion; let i = index">
                        Day {{ i + 1 }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr app-activity-breakdown [data]="data"></tr>
            </tbody>
        </table>
    </div>

</div>