.button-container {
    display: flex;
    align-items: row;
    justify-content: space-between;
    width: 32vw;
}

.button-container button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: solid 1px grey;
    border-radius: 1rem;
    cursor: pointer;
}